<h2>Introduction</h2>

<p>The purpose of these General Terms of Use (referred to as "TOU") is to provide a legal framework for the terms and conditions under which the Site and the Services are made available by <b>OpenMapGenerator</b> and to define the terms and conditions under which "the <b>User</b>" may access and use the Services.</p>

<p>Any registration or use of <b>OpenMapGenerator</b> implies acceptance without reservation or restriction of these TOU by the user. When registering on <b>OpenMapGenerator</b> via the Registration Form, each user expressly agrees to these TOU.</p>
<p>In the event of non-acceptance of the TOU stipulated in this agreement, the User must renounce access to the services offered by <b>OpenMapGenerator</b>.</p>
<p><b>OpenMapGenerator</b> reserves the right to unilaterally modify the content of these TOU at any time.</p>

<h2>Article 1: Legal notices</h2>

<p>The editing and direction of the publication of the site <b>OpenMapGenerator</b> is provided by {{ editorName }}.</p>

<h2>Article 2: Access to the site</h2>

<p><b>OpenMapGenerator</b> is accessible free of charge at any location to any User with Internet access. All costs incurred by the User to access the service (computer hardware, software, Internet connection, etc.) are the responsibility of the User.</p>
<p>The non-member User does not have access to our services. To do so, they must register by filling out the form. By agreeing to register for the reserved services, the Member User agrees to provide truthful and accurate information regarding his or her marital status and contact information, including email address.</p>
<p>To access the services, the User must then identify himself or herself using his or her login and password, which will be communicated to the User after registration.</p>
<p>Any event due to a case of force majeure resulting in a malfunction of the site or server and subject to any interruption or modification in case of maintenance, does not engage the responsibility of <b>OpenMapGenerator</b>. In such cases, the User agrees not to hold the publisher responsible for any interruption or suspension of service, even without notice.</p>

<h2>Article 3: Data Collection</h2>

<p><b>OpenMapGenerator</b> ensures the User a collection and processing of personal information in compliance with the <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000886460/" target="_blank">law n°78-17 of January 6, 1978 relating to data processing, files and freedoms</a>.</p>
<p>Under the Data Protection Act, dated January 6, 1978, the User has the right to access, rectify, delete and oppose his or her personal data. The User exercises this right via <a href="{{ path('home.support') }}">our contact form</a>.</p>

<h2>Article 4: Intellectual Property</h2>

<p>See the <a href="{{ path('help.license') }}">OpenStreetMap licence</a>.</p>

<h2>Article 5: Liability</h2>

<p>The sources of the information disseminated on <b>OpenMapGenerator</b> are deemed reliable but <b>OpenMapGenerator</b> does not guarantee that it is free from defects, errors or omissions.</p>
<p>The information provided is presented as an indication and general without contractual value. Despite regular updates, <b>OpenMapGenerator</b> cannot be held responsible for changes in administrative and legal provisions occurring after publication. Similarly, the site cannot be held responsible for the use and interpretation of the information contained in this site.</p>
<p>The User shall ensure to keep his password secret. Any disclosure of the password in any form is prohibited. He/she assumes the risks associated with the use of his login and password. <b>OpenMapGenerator</b> disclaims all liability.</p>
<p><b>OpenMapGenerator</b> cannot be held responsible for any viruses that may infect the computer or any computer equipment of the Internet user, following use, access, or downloading from this site.</p>
<p>The responsibility of the site can not be engaged in case of force majeure or the unforeseeable and insurmountable fact of a third party.</p>

<h2>Article 6: Hypertext links</h2>

<p>Hypertext links may be present on the pages of <b>OpenMapGenerator</b>. The User is informed that by clicking on these links, he/she will exit <b>OpenMapGenerator</b>. The latter has no control over the web pages to which these links lead and cannot, under any circumstances, be held responsible for their content.</p>

<h2>Article 7: Cookies</h2>

<p>The User is informed that during his visits to <b>OpenMapGenerator</b>, a cookie is automatically installed on his browser.</p>
<p>Generally speaking, cookies are small files stored temporarily on the User's computer hard drive by your browser that are necessary for the use of <b>OpenMapGenerator</b>. Cookies do not contain personal information and cannot be used to identify anyone. A cookie contains a unique identifier that is randomly generated and therefore anonymous. Some cookies expire at the end of the User's visit, others remain.</p>
<p>The information contained in cookies is used to improve the site <b>OpenMapGenerator</b> or for its proper use.</p>
<p>By browsing <b>OpenMapGenerator</b>, The User agrees to them.</p>
<p>The User will be able to deactivate these cookies through the settings within their browser software.</p>
<p>On the other hand, by disabling the cookies, the User is informed that he/she will no longer be able to connect to <b>OpenMapGenerator</b>, thus prohibiting the creation of the technical cookie called "session cookie".</p>

<h2>Article 8: Publication by the User</h2>

<p><b>OpenMapGenerator</b> allows members to publish digital data in the form of texts and links.</p>
<p>In its publications, the member agrees to respect the rules of the <a href="https://en.wikipedia.org/wiki/Etiquette_in_technology" target="_blank">Netiquette</a> (rules of good conduct of the Internet) and the rules of law in force.</p>
<p><b>OpenMapGenerator</b> may exercise moderation over publications and reserves the right to refuse to post them online, without having to justify this to the member.</p>
<p>The member remains the owner of all his intellectual property rights with respect to the publications he may make on <b>OpenMapGenerator</b>.</p>
<p>Any content posted by the User is the sole responsibility of the User. The User undertakes not to put online any content that may harm the interests of third parties. Any legal action taken by an injured third party against <b>OpenMapGenerator</b> will be borne by the User.</p>
<p>User content may be removed or modified at any time and for any reason by <b>OpenMapGenerator</b>, without notice.</p>

<h2>Article 9: Applicable law and competent jurisdiction</h2>

<p>French law shall apply to this contract. In the event of failure to amicably resolve a dispute arising between the parties, the French courts shall have sole jurisdiction.</p> <p>
<p>For any question relating to the application of these TOU, you may contact the publisher via <a href="{{ path('home.support') }}">our contact form</a>.</p>

<p>Effective March 1, 2022</p>
