<h2>Introducció</h2>

<p>El propòsit d'aquestes Condicions Generals d'Ús (anomenadas "CGU") és proporcionar un marc legal pels termes i condicions sota els que el Lloc i els Serveis es posen a la seva disposició per <b>OpenMapGenerator</b> i definir els termes i condicions en els que "el <b>User</b>" pot accedir i utilitzar els Serveis.</p>

<p>Tot registre o ús de <b>OpenMapGenerator</b> implica l'acceptació sense reserves ni restriccions d'aquestes CGU per part de l'usuari. En registrar-se en <b>OpenMapGenerator</b> A través del Formulari de Registre, cada usuari accepta expressament aquestes CGU.</p>
<p>En el cas de no acceptar les CGU estipulades en aquest acord, l'usuari ha de renunciar a l'accés als serveis oferts per <b>OpenMapGenerator</b>.</p>
<p><b>OpenMapGenerator</b> es reserva el dret de modificar unilateralment el contingut de les CGU en qualsevol moment.</p>

<h2>Article 1: Avisos legals</h2>

<p>L'edició i direcció de la publicació del lloc <b>OpenMapGenerator</b> és proporcionada per {{ editorName }}.</p>

<h2>Article 2: Accés al lloc</h2>

<p><b>OpenMapGenerator</b> és accessible de manera gratuïta des de qualsevol lloc i per a qualsevol usuari amb accés a internet. Tots els costos en els quals incorri l'usuari per a accedir al servei (maquinari, programari, connexió a Internet, etc.) són responsabilitat de l'usuari.</p>
<p>L'usuari que no sigui membre no té accés als nostres serveis. Per a tenir-ho ha de registrar-se emplenant el formulari. En acceptar registrar-se en els serveis reservats, l'Usuari Membre es compromet a proporcionar informació veraç i precisa sobre el seu estat civil i la seva informació de contacte, inclosa l'adreça de correu electrònic.</p>
<p>Per a accedir als serveis, l'Usuari haurà d'identificar-se amb el seu nom d'usuari i contrasenya, que li seran comunicats després del seu registre.</p>
<p>Qualsevol esdeveniment degut a un cas de força major que provoqui un mal funcionament del lloc o del servidor i que estigui subjecte a qualsevol interrupció o modificació en cas de manteniment, no compromet la responsabilitat de <b>OpenMapGenerator</b>. En aquests casos, l'usuari es compromet a no responsabilitzar a l'editor per qualsevol interrupció o suspensió del servei, fins i tot sense previ avís.</p>

<h2>Article 3: Recopilació de dades</h2>

<p><b>OpenMapGenerator</b> assegura a l'usuari la col·lecció i tracte d'informació personal segons la <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000886460/" target="_blank"> llei núm. 78-17 de gener de 1978, relacionada amb el tractament de dades, arxius i llibertats</a>.</p>
<p>Sota la Llei de Protecció de Dades, del 6 de gener de 1978, l'usuari té el dret a accedir, rectificar, eliminar i oposar-se a les seves dades personals. L'usuari exerceix aquest dret mitjançant <a href="{{ path('home.support') }}">el nostre formulari de contacte</a>.</p>

<h2>Article 4: Propietat Intel·lectual</h2>

<p>Veure <a href="{{ path('help.license') }}">Condicions Generals d'Ús</a>.</p>

<h2>Article 5: Responsabilitat</h2>

<p>Les fonts de la informació difosa en <b>OpenMapGenerator</b> es consideren fiables però <b>OpenMapGenerator</b> no garanteix que estigui lliure de defectes, errors o omissions.</p>
<p>La informació proporcionada es presenta a títol indicatiu i general sense valor contractual. Malgrat les actualitzacions periòdiques, <b>OpenMapGenerator</b> no es fa responsable dels canvis en les disposicions administratives i legals que es produeixin després de la seva publicació. Així mateix, no es fa responsable de l'ús i interpretació de la informació continguda en aquest lloc.</p>
<p>L'usuari haurà d'assegurar-se de mantenir la seva contrasenya en secret. Queda prohibida la divulgació de la contrasenya en qualsevol forma. L'usuari assumeix els riscos associats a l'ús del seu nom d'usuari i contrasenya. <b>OpenMapGenerator</b> renúncia a tota responsabilitat.</p>
<p><b>OpenMapGenerator</b> no es fa responsable dels virus que puguin infectar l'ordinador o qualsevol equip informàtic de l'usuari d'Internet, després de l'ús, accés o descàrrega d'aquest lloc.</p>
<p>La responsabilitat del lloc no pot ser compromesa en cas de força major o del fet imprevisible i insuperable d'un tercer.</p>

<h2>Article 6:Enllaços hipertext</h2>

<p>Els enllaços d'hipertext poden ser presents en les pàgines de <b>OpenMapGenerator</b>. L'Usuari queda informat que en fer clic en aquests enllaços, sortirà de <b>OpenMapGenerator</b>. Aquesta última no té cap control sobre les pàgines web a les quals condueixen aquests enllaços i no pot, en cap cas, fer-se responsable del seu contingut.</p>

<h2>Article 7: Cookies</h2>

<p>L'usuari queda informat que durant les seves visites a <b>OpenMapGenerator</b>, una cookie s'instal·la automàticament en el seu navegador.</p>
<p>En general, les cookies són petits arxius emmagatzemats temporalment en el disc dur de l'ordinador de l'Usuari pel seu navegador que són necessaris per a l'ús de <b>OpenMapGenerator</b>. Les cookies no contenen informació personal i no poden utilitzar-se per a identificar a ningú. Una cookie conté un identificador únic generat aleatòriament i, per tant, anònim. Algunes cookies expiren al final de la visita de l'usuari, unes altres romanen.</p>
<p>La informació en les cookies s'utilitza per a millorar el lloc <b>OpenMapGenerator</b> o per al seu correcte funcionament.</p>
<p>Navegant en <b>OpenMapGenerator</b>, l'usuari les accepta.</p>
<p>L'Usuari podrà desactivar aquestes cookies a través de la configuració del seu programari de navegació.</p>
<p>D'altra banda, en deshabilitar les cookies, s'informa l'Usuari que ja no podrà connectar-se a <b>OpenMapGenerator</b>, prohibint així la creació de la cookie tècnica denominada "cookie de sessió".</p>

<h2>Article 8: Publicacions de l'usuari</h2>

<p><b>OpenMapGenerator</b> permet als membres publicar dades digitals en forma de textos i enllaços.</p>
<p>En les seves publicacions, el membre es compromet a respectar les normes del <a href="https://ca.wikipedia.org/wiki/Etiqueta_(societat_de_la_informaci%C3%B3)" target="_blank">Etiqueta</a> (normes de bona conducta d'Internet) i les normes de dret vigents.</p>
<p><b>OpenMapGenerator</b> pot exercir la moderació sobre les publicacions i es reserva el dret de rebutjar la seva posada en línia, sense haver de justificar-lo davant el membre.</p>
<p>El soci continua sent titular de tots els seus drets de propietat intel·lectual respecte a les publicacions que pugui fer en <b>OpenMapGenerator</b>.</p>
<p>Qualsevol contingut publicat per l'Usuari és de la seva exclusiva responsabilitat. L'Usuari es compromet a no posar en línia cap contingut que pugui perjudicar els interessos de tercers. Qualsevol acció legal empresa per un tercer perjudicat contra <b>OpenMapGenerator</b> serà a càrrec de l'usuari.</p>
<p>Els continguts de l'usuari poden ser eliminats o modificats en qualsevol moment i per qualsevol motiu per <b>OpenMapGenerator</b>, sense previ avís.</p>

<h2>Article 9: Legislació aplicable i jurisdicció competent</h2>

<p>El dret francès s'aplicarà al contracte actual. En cas que no es resolgui amistosament un litigi entre les parts, els tribunals francesos seran els únics competents.</p> <p>
<p>Per a qualsevol pregunta relacionada amb l'aplicació d'aquestes CGU, pot posar-se en contacte amb l'editor mitjançant <a href="{{ path('home.support') }}">el nostre formulari de contacte</a>.</p>

<p>En vigor l'1 de març de 2022</p>
