<h2>Introducción</h2>

<p>El propósito de estas Condiciones Generales de Uso (denominadas "CGU") es proporcionar un marco legal para los términos y condiciones bajo los cuales el Sitio y los Servicios son puestos a disposición por <b>OpenMapGenerator</b> y definir los términos y condiciones en los que "el <b>User</b>" puede acceder y utilizar los Servicios.</p>

<p>Todo registro o uso de <b>OpenMapGenerator</b> implica la aceptación sin reservas ni restricciones de estas CGU por parte del usuario. Al registrarse en <b>OpenMapGenerator</b> A través del Formulario de Registro, cada usuario acepta expresamente estas CDU.</p>
<p>En el caso de no aceptar las CGU estipuladas en este acuerdo, el usuario debe renunciar al acceso a los servicios ofrecidos por <b>OpenMapGenerator</b>.</p>
<p><b>OpenMapGenerator</b> se reserva el derecho de modificar unilateralmente el contenido de las CGU en cualquier momento.</p>

<h2>Artículo 1: Avisos legales</h2>

<p>La edición y dirección de la publicación del sitio <b>OpenMapGenerator</b> es proporcionada por {{ editorName }}.</p>

<h2>Artículo 2: Acceso al sitio</h2>

<p><b>OpenMapGenerator</b> es accesible de manera gratuita desde cualquier lugar y para cualquier usuario con acceso a internet. Todos los costes en los que incurra el usuario para acceder al servicio (hardware, software, conexión a Internet, etc.) son responsabilidad del usuario.</p>
<p>El usuario que no sea miembro no tiene acceso a nuestros servicios. Para tenerlo debe registrarse rellenando el formulario. Al aceptar registrarse en los servicios reservados, el Usuario Miembro se compromete a proporcionar información veraz y precisa sobre su estado civil y su información de contacto, incluida la dirección de correo electrónico.</p>
<p>Para acceder a los servicios, el Usuario deberá identificarse con su nombre de usuario y contraseña, que le serán comunicados tras su registro.</p>
<p>Cualquier acontecimiento debido a un caso de fuerza mayor que provoque un mal funcionamiento del sitio o del servidor y que esté sujeto a cualquier interrupción o modificación en caso de mantenimiento, no compromete la responsabilidad de <b>OpenMapGenerator</b>. En estos casos, el usuario se compromete a no responsabilizar al editor por cualquier interrupción o suspensión del servicio, incluso sin previo aviso.</p>

<h2>Artículo 3: Recopilación de datos</h2>

<p><b>OpenMapGenerator</b> asegura al usuario la colección y trato de información personal según la <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000886460/" target="_blank"> ley nº 78-17 de enero de 1978, relacionada con el tratamiento de datos, archivos y libertades</a>.</p>
<p>Bajo la Ley de Protección de Datos, del 6 de enero de 1978, el usuario tiene el derecho a acceder, rectificar, eliminar y oponerse a sus datos personales. El usuario ejerce este derecho mediante <a href="{{ path('home.support') }}"> nuestro formulario de contacto</a>.</p>

<h2>Artículo 4: Propiedad Intelectual</h2>

<p>Leer la <a href="{{ path('help.license') }}">Licencia de OpenMapGenerator</a>.</p>

<h2>Artículo 5: Responsabilidad</h2>

<p>Las fuentes de la información difundida en <b>OpenMapGenerator</b> se consideran fiables pero <b>OpenMapGenerator</b> no garantiza que esté libre de defectos, errores u omisiones.</p>
<p>La información proporcionada se presenta a título indicativo y general sin valor contractual. A pesar de las actualizaciones periódicas, <b>OpenMapGenerator</b> no se hace responsable de los cambios en las disposiciones administrativas y legales que se produzcan después de su publicación. Asimismo, no se hace responsable del uso e interpretación de la información contenida en este sitio.</p>
<p>El usuario deberá asegurarse de mantener su contraseña en secreto. Queda prohibida la divulgación de la contraseña en cualquier forma. El usuario asume los riesgos asociados al uso de su nombre de usuario y contraseña. <b>OpenMapGenerator</b> renuncia a toda responsabilidad.</p>
<p><b>OpenMapGenerator</b> no se hace responsable de los virus que puedan infectar el ordenador o cualquier equipo informático del usuario de Internet, tras el uso, acceso o descarga de este sitio.</p>
<p>La responsabilidad del sitio no puede ser comprometida en caso de fuerza mayor o del hecho imprevisible e insuperable de un tercero.</p>

<h2>Artículo 6:Enlaces hipertexto</h2>

<p>Los enlaces de hipertexto pueden estar presentes en las páginas de <b>OpenMapGenerator</b>. El Usuario queda informado de que al hacer clic en estos enlaces, saldrá de <b>OpenMapGenerator</b>. Esta última no tiene ningún control sobre las páginas web a las que conducen estos enlaces y no puede, en ningún caso, hacerse responsable de su contenido.</p>

<h2>Artículo 7: Cookies</h2>

<p>El usuario queda informado de que durante sus visitas a <b>OpenMapGenerator</b>, una cookie se instala automáticamente en su navegador.</p>
<p>En general, las cookies son pequeños archivos almacenados temporalmente en el disco duro del ordenador del Usuario por su navegador que son necesarios para el uso de <b>OpenMapGenerator</b>. Las cookies no contienen información personal y no pueden utilizarse para identificar a nadie. Una cookie contiene un identificador único generado aleatoriamente y, por tanto, anónimo. Algunas cookies expiran al final de la visita del usuario, otras permanecen.</p>
<p>La información en las cookies se usa para mejorar el sitio <b>OpenMapGenerator</b> o para su correcto funcionamiento.</p>
<p>Navegando en <b>OpenMapGenerator</b>, el usuario las acepta.</p>
<p>El Usuario podrá desactivar estas cookies a través de la configuración de su software de navegación.</p>
<p>Por otro lado, al deshabilitar las cookies, se informa al Usuario que ya no podrá conectarse a <b>OpenMapGenerator</b>, prohibiendo así la creación de la cookie técnica denominada "cookie de sesión".</p>

<h2>Artículo 8: Publicaciones del usuario</h2>

<p><b>OpenMapGenerator</b> permite a los miembros publicar datos digitales en forma de textos y enlaces.</p>
<p>En sus publicaciones, el miembro se compromete a respetar las normas del <a href="https://es.wikipedia.org/wiki/Netiqueta" target="_blank">Netiqueta</a> (normas de buena conducta de Internet) y las normas de derecho vigentes.</p>
<p><b>OpenMapGenerator</b> puede ejercer la moderación sobre las publicaciones y se reserva el derecho de rechazar su puesta en línea, sin tener que justificarlo ante el miembro.</p>
<p>El socio sigue siendo titular de todos sus derechos de propiedad intelectual con respecto a las publicaciones que pueda hacer en <b>OpenMapGenerator</b>.</p>
<p>Cualquier contenido publicado por el Usuario es de su exclusiva responsabilidad. El Usuario se compromete a no poner en línea ningún contenido que pueda perjudicar los intereses de terceros. Cualquier acción legal emprendida por un tercero perjudicado contra <b>OpenMapGenerator</b> correrá a cargo del usuario.</p>
<p>Los contenidos del usuario pueden ser eliminados o modificados en cualquier momento y por cualquier motivo por <b>OpenMapGenerator</b>, sin previo aviso.</p>

<h2>Artículo 9: Legislación aplicable y jurisdicción competente</h2>

<p>El derecho francés se aplicará al presente contrato. En caso de que no se resuelva amistosamente un litigio entre las partes, los tribunales franceses serán los únicos competentes.</p> <p>
<p>Para cualquier pregunta relacionada con la aplicación de estas CGU, puede ponerse en contacto con el editor mediante <a href="{{ path('home.support') }}">nuestro formulario de contacto</a>.</p>

<p>En vigor el 1 de marzo de 2022</p>
