<p>OMG uses OpenStreetMap and Leaflet to allows you to create maps simply, with positions containing a name, a description, an external link to a web page and access to route calculation.</p>
<p>OMG allows you to create maps easily and quickly. For a more comprehensive use of OpenStreetMap and Leaflet, it is advisable to use powerful tools such as <a href='https://framacarte.org/en/' target='_blank'>Framacarte</a>.</p>
<p>Click <b>{% trans %}menu.showName{% endtrans %}</b> in the menu to show public or restricted maps.</p>
<p>Click <b>{% trans %}menu.connectName{% endtrans %}</b> in the menu to connect to your account or to create a new one.</p>
