<p>OMG utiliza OpenStreetMap y Leaflet para permitirle crear mapas fácilmente, con ubicaciones que contienen un nombre, una descripción, un enlace externo a una página web y acceso al cálculo de rutas.</p>
<p>OMG hace que la creación de mapas sea rápida y sencilla. Para un uso más completo de OpenStreetMap y Leaflet, se recomienda utilizar herramientas potentes como <a href='https://framacarte.org/es/' target='_blank'>Framacarte</a>.</p>
<p>Haga clic en <b>{% trans %}menu.showName{% endtrans %}</b> en el menú para ver los mapas públicos o restringidos.</p>
<p>Haga clic en <b>{% trans %}menu.connectName{% endtrans %}</b> en el menú para acceder a su cuenta o para crear una nueva.</p>
