<p>OMG utilise OpenStreetMap et Leaflet pour vous permettre de créer des cartes simplement, avec des positions contenant un nom, une description, un lien externe vers une page web ainsi qu'un accès au calcul d'itinéraire.</p>
<p>OMG permet de créer des cartes facilement et rapidement. Pour une utilisation plus complète d'OpenStreetMap et de Leaflet, il est conseillé d'utiliser des outils performants comme <a href='https://framacarte.org/fr/' target='_blank'>Framacarte</a>.</p>
<p>Cliquez sur <b>{% trans %}menu.showName{% endtrans %}</b> dans le menu pour consulter des cartes publiques ou avec accès restreint.</p>
<p>Cliquez sur <b>{% trans %}menu.connectName{% endtrans %}</b> dans le menu pour vous connecter à votre compte ou pour en créer un nouveau.</p>
