<p>OMG utilitza OpenStreetMap i Leaflet per permetre crear mapes fàcilment, amb ubicacions que continguin un nom, una descripció, un enllaç extern a una pàgina web i accés al càlcul de rutes.</p>
<p>OMG fa que la creació de mapes sigui ràpida i senzilla. Per a un ús més complet de OpenStreetMap i Leaflet, es recomana utilitzar eines potents com <a href='https://framacarte.org/es/' target='_blank'>Framacarte</a>.</p>
<p>Faci clic a <b>{% trans %}menu.showName{% endtrans %}</b> al menú per consultar mapes públics amb accés restringit.</p>
<p>Faci clic a <b>{% trans %}menu.connectName{% endtrans %}</b> al menú per a accedir al seu compte o per a crear-ne un nou.</p>
