<p>¡Hola {{ user.name }}!</p>
<p>Has solicitado restablecer tu contraseña en OpenMapGenerator.</p>
<p>Para establecer una nueva contraseña, vaya a <a href="{{ absolute_url(path('security.resetpassword', { 'key': recoverKey })) }}">{{ absolute_url(path('security.resetpassword', { 'key': recoverKey })) }}</a></p>
<p>Si no ha iniciado esta solicitud, ignore este mensaje.</p>
<p>¡Buen día con OpenMapGenerator!</p>
<hr />
<p><img alt="OMG Logo" src="cid:logo" style="vertical-align: middle;"> OpenMapGenerator Password Recovering Service</p>
