<p>Bonjour {{ user.name }} !</p>
<p>Vous avez demandé à réinitialiser votre mot de passe sur OpenMapGenerator.</p>
<p>Pour définir un nouveau votre mot de passe, rendez-vous à l'adresse <a href="{{ absolute_url(path('security.resetpassword', { 'key': recoverKey })) }}">{{ absolute_url(path('security.resetpassword', { 'key': recoverKey })) }}</a></p>
<p>Si vous n'êtes pas à l'origine de cette demande, veuillez simplement ignorer ce message.</p>
<p>Bonne journée avec OpenMapGenerator !</p>
<hr />
<p><img alt="OMG Logo" src="cid:logo" style="vertical-align: middle;"> OpenMapGenerator Password Recovering Service</p>
