<p>¡Hola {{ user.name }}!</p>
<p>Heu sol·licitat restablir la vostra contrasenya a OpenMapGenerator.</p>
<p>Per tornar a configurar la contrasenya, aneu a <a href="{{ absolute_url(path('security.resetpassword', { 'key': recoverKey })) }}">{{ absolute_url(path('security.resetpassword', { 'key': recoverKey })) }}</a></p>
<p>Si no ets el causant d'aquesta sol·licitud, només has d'ignorar aquest missatge.</p>
<p>¡Que tingueu un bon dia amb OpenMapGenerator!</p>
<hr />
<p><img alt="OMG Logo" src="cid:logo" style="vertical-align: middle;"> OpenMapGenerator Password Recovering Service</p>
